<div id="headerSearch">
	{% form search %}
		<div class="oneLiner">
			<p>{% form_field q_widget %}</p>
			<p><input id="submit" class="inputSubmit" type="submit" name="submit" value="{{ 'lbl.Search'|trans|ucfirst }}" /></p>
		</div>
	{% endform %}
</div>
